{%load static%}
<!-- Navigation -->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{% url 'index' %}"><img src="{% static 'images/logo.png'%}" alt="Lattes theme logo"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
                </li>
                <li>
                    <a href="{% url 'about.html' %}" class="nav-item nav-link">About</a>
                </li>
                <li>
                    <a href="{% url 'services.html' %}" class="nav-item nav-link">Services</a>
                </li>
                <li>
                    <a href="{% url 'portfolio.html' %}" class="nav-item nav-link">Portfolio</a>
                </li>
                <li>
                    <a href="{% url 'team.html' %}" class="nav-item nav-link">Team</a>
                </li>
                <li>
                    <a href="{% url 'contact.html' %}" class="nav-item nav-link">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>